@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

.background {
    background-color: rgba(49, 79, 79, .9);
    width: 100%;
    height: 780px;
    padding: 0;
    border-radius: 5px;
    background-image: url("../img/coding2.jpeg") !important;
}
#goal-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 220px;
}
#goal   {
    text-align: center;
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    top: 10px;
}
#slogan-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 220px;
}
#slogan   {
    text-align: center;
    color: white;
    font-size: 6em;
    top: 10px;
    font-family: 'Titillium Web', sans-serif;
}
#name   {
    text-align: center;
    color: white;
    font-size: 8em;
    top: 5px;
    font-family: 'Titillium Web', sans-serif;
}
.page-body  {
    background-color: lightyellow;
    width: 100%;
    height: 15em;
}
.resume-body    {
    background-color: lightyellow;
    width: 100%;
    height: 100%;
}
#body-header    {
    text-align: center;
    padding-top: 1em;
    font-family: 'Oxygen', sans-serif;
}
#body-paragraph {
    text-align: center;
    font-family: 'Oxygen', sans-serif;

}
#paragraph-container    {
    width: 80%;
}

.title-decor    {
    width: 80%;
    margin: 0 auto;
}
.section1   {
    border-color: white;
}
.section1-title {
    color: darkslategray;
}
.section2   {
    border-color: darkslategrey;
}
.section2-title {
    color: darkslategrey;
    text-align: center;
}
#summary    {
    width: 100%;
}
#summary-content    {
    margin: 0 auto;
    text-align: center;
    color: darkslategrey;
}
.summary-title  {
    text-align: center;
}
.work-experience{
    width: 80%;
    margin: 0 auto;
}
h2  {
    text-align: center;
    color: darkslategrey;
}
h5  {
    font-style: italic;
    text-align: center;
    color: darkred;
    opacity: .5;
}