body {
    background-color: #9AD3FE !important;
}
.weather-div    {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    text-align: center;
    background-color: #EFEFEF;
    float: left;
}
#weather-map {
    width: 750px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    right: 13px;
}
#content {
    position: relative;
    margin-left: 19%;
}
h1, h2 {
    margin: 0 auto;
    text-align: center;
}
#inputDiv {
    width: 750px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    right: 13px;
}